[Unit]
Description=Apply Katl installer preseed input
DefaultDependencies=no
Wants=systemd-udev-trigger.service
After=systemd-udev-trigger.service
Before=initrd.target

[Service]
Type=oneshot
ExecStart=/usr/bin/katlos-install --apply-input
StandardOutput=journal+console
StandardError=journal+console
