[Unit]
Description=Emit the M1 Katl boot signal
Documentation=https://github.com/chrisb/katl
After=basic.target systemd-journald.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env printf 'Katl hello\n'
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
