[Unit]
Description=Run Katl installer entrypoint
DefaultDependencies=no
Wants=katl-input-apply.service systemd-networkd.service systemd-resolved.service
After=katl-input-apply.service systemd-networkd.service systemd-resolved.service
Before=initrd.target

[Service]
Type=notify
NotifyAccess=main
TimeoutStartSec=30min
ExecStart=/usr/bin/katlos-install --boot
StandardOutput=journal+console
StandardError=journal+console
