[Unit]
Description=Project persistent Kubernetes configuration
Documentation=man:systemd.mount(5)
DefaultDependencies=no
After=var.mount systemd-confext.service
Before=kubelet.service katl-kubeadm-ready.target
Conflicts=umount.target
Before=umount.target
RequiresMountsFor=/var/lib/katl/kubernetes/etc-kubernetes

[Mount]
What=/var/lib/katl/kubernetes/etc-kubernetes
Where=/etc/kubernetes
Type=none
Options=bind,rw
