[Unit]
Description=Ensure Katl SSH host keys
RequiresMountsFor=/var/lib/katl/ssh/host-keys
After=var.mount
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/lib/katl/runtime/katl-ssh-host-keys
