[Unit]
Description=Katl boot-complete promotion point
Documentation=man:systemd.target(5)
Requires=katl-runtime-handoff-status.service katl-boot-health.service
After=katl-runtime-handoff-status.service katl-boot-health.service

[Install]
WantedBy=multi-user.target
