[Unit]
Description=Activate configured systemd units
Documentation=man:systemd.service(5)
Requires=katl-system-extensions-reload.service katl-host-config-verify.service
After=katl-system-extensions-reload.service katl-host-config-verify.service
Before=katl-boot-health.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
SyslogIdentifier=katl-system-extensions-activate
ExecStart=/usr/lib/katl/runtime/katl-host-config-activate --root=/ --phase=units
